body
{
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}

h1, h3, p
{
  padding: 0;
  margin: 0;
  font-weight: normal;
  display: block;
}

div
{
  display: block;
}

header, footer, article
{
  display: inline-block;
}

.header
{
  /*font-family: 'Roboto Slab', serif;*/
  padding: 50px 0px 50px 0px;
  margin-bottom: 5em;
  width: 100%;
  /*background-image: url("images/banner-background-image-edited-1.jpg");*/
  background-color: rgba(0, 0, 0, 0.90);
  border-bottom: 1px solid #111111;
  text-align: center;
  color: black;
}

.headerName
{
  font-size: 82px;
  color: #f2f2f2;
}

.headerTitle
{
  font-size: 48px;
  color: #f2f2f2;
}

.main
{
  width: 85%;
  margin: 0 auto;
  display: block;
}

.mainName
{
  /*font-family: 'Roboto Slab', serif;*/
  /*display: inline-block;*/
  margin-bottom: 10px;
  /*border-bottom: 1px solid #111111;*/
  text-align: center;
  border-collapse: separate;
  border-spacing: 50px 50px;
}

.divSection
{
  text-align: center;
  margin: 5px 0px 200px 0px;
}

.article
{
  margin: 20px;
  border: 1px solid black;
  float: center;
  width: 350px;
}

.article .gallery .preview
{
  width: 100%;
  height: auto;
}

.article .gallery a
{
  background-color: rgba(0, 0, 0, 0.90);
  border-top: 1px black solid;
}

.description
{
  padding: 15px;
  font-size: 18px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.90);
  /*border-top: 1px black solid*/
}

.footer
{
  text-align: center;
  padding: 20px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.90);
  border-top: 1px solid black;
  display: block;
}

.footerText
{
  color: #f2f2f2;
}

@media screen and (max-width: 700px)
{

  .header
  {
    background-image: url("Images/banner-background-image-edited-1.jpg");
    margin: 0px 0px 25px 0px;
  }

  .headerName
  {
    font-size: 48px;
  }

  .headerTitle
  {
    font-size: 32px;
  }

  .mainName
  {
    font-size: 24px;
  }

  .divSection
  {
    margin: 15px 0px 15px 0px;
  }

  .article
  {
    width: 250px;
  }

  .description
  {
    padding: 10px;
    font-size: 16px;
  }

  #firstArticle
  {
    margin-top: 5px;
  }

}

/* Made by Dave Bakker */
